{% extends "layout.html" %}
{% block content %}

<div class="title"><h1>Semester Classes</h1></div>

<div class="container">

{% if data|length > 0 %}

    <h3>
 {{ semester }} {{ year }}
    </h3>

    <table cellpadding="5" cellspacing="5" class="table table-hover">
        <tr>
            <th>Course ID</th>
            <th>Section ID</th>
        </tr>

    {% for row in data %}
    <tr>
        <td>{{ row[0] }}</td>
        <td>{{ row[1] }}</td>
    </tr>
    {% endfor %}

    </table>

{% else %}
    <div class="container">
        <h1>No results found for {{ semester }} {{ year }}</h1>
    </div>
{% endif %}

</div>

{% endblock %}