{% extends "layout.html" %}
{% block content %}

<div class="title">
    <h1>Semester Roster</h1>
</div>

<div class="container">

    <form action="/checksemesterroster" method="POST">

        <p><label>Semester:</label>
        <select name="semester">
            <option value="">Select</option>
            <option value="Winter">Winter</option>
            <option value="Fall">Fall</option>
            <option value="Spring">Spring</option>
            <option value="Summer">Summer</option>
        </select></p>

        <p><label>Year:</label>
        <input type="text" name="year" /></p>

        <p><input type="submit" value="Submit" /></p>

    </form>
</div>

{% endblock %}