{% extends "layout.html" %}
{% block content %}

<div class="title">
    <h1>Section Info</h1>
</div>

<div class="container">

{% if data|length > 0 %}
    <table cellpadding="5" cellspacing="5" class="table table-hover">

        <tr>
            <th>Course ID</th>
            <th>Section ID</th>
            <th>Semester</th>
            <th>Year</th>
            <th>Building</th>
            <th>Room Number</th>
            <th>Time Slot</th>
        </tr>

        {% for row in data %}
        <tr>
            {% for d in row %}
                <td>{{ d }}</td>
            {% endfor %}
        </tr>
        {% endfor %}

    </table>

{% else %}
    <div class="container">
        <h1>No section found</h1>
    </div>
{% endif %}

</div>

{% endblock %}